@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KulimPark';
  src: url('/fonts/KulimPark/KulimPark-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KulimPark';
  src: url('/fonts/KulimPark/KulimPark-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KulimPark';
  src: url('/fonts/KulimPark/KulimPark-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nyght';
  src: url('/fonts/Nyght/NyghtSerif-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nyght';
  src: url('/fonts/Nyght/NyghtSerif-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nyght';
  src: url('/fonts/Nyght/NyghtSerif-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nyght';
  src: url('/fonts/Nyght/NyghtSerif-Dark.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nyght';
  src: url('/fonts/Nyght/NyghtSerif-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeutralFace';
  src: url('/fonts/NeutralFace/NeutralFace.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'NeutralFace Bold';
  src: url('/fonts/NeutralFace/NeutralFaceBold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'LaborUnion Regular';
  src: url('/fonts/LaborUnion/LaborUnion-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'LaborUnion Small';
  src: url('/fonts/LaborUnion/LaborUnion-Small.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Fachada';
  src: url('/fonts/Fachada/Fachada-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Barstukai';
  src: url('/fonts/Barstukai/Berzulis-BARSTUKAI-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Gidolinya';
  src: url('/fonts/Gidolinya/Gidolinya-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sono';
  src: url('/fonts/Sono/Sono-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Fibel Sued';
  src: url('/fonts/Fibel Sued/Fibel Sued.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Fibel Sued';
  src: url('/fonts/Fibel Sued/Fibel Sued Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Venus Cormier';
  src: url('/fonts/Venus Cormier/Venus+Cormier.otf') format('opentype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Basalte';
  src: url('/fonts/Basalte/Basalte-Fond.otf') format('opentype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Caramel';
  src: url('/fonts/Caramel/Caramel-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Tanklager';
  src: url('/fonts/Tanklager/Tanklager-Kompakt.otf') format('opentype');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Touillette';
  src: url('/fonts/Touillette/Touillette-Regular.otf') format('opentype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Plus Jakarta';
  src: url('/fonts/Plus Jakarta/PlusJakartaSans-Light.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Plus Jakarta';
  src: url('/fonts/Plus Jakarta/PlusJakartaSans-Regular.otf') format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Plus Jakarta';
  src: url('/fonts/Plus Jakarta/PlusJakartaSans-SemiBold.otf')
    format('opentype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Plus Jakarta';
  src: url('/fonts/Plus Jakarta/PlusJakartaSans-Italic.otf') format('opentype');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Plus Jakarta';
  src: url('/fonts/Plus Jakarta/PlusJakartaSans-SemiBoldItalic.otf')
    format('opentype');
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e9fffd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  min-height: 100%;
  min-width: 100%;
}

.glassmorph {
  @apply bg-gray-50 backdrop-filter backdrop-blur-lg bg-opacity-10 rounded-lg border border-gray-200/25 shadow-[0_0px_4px_0_rgba(85,127,173,0.4)];
}
